fastapi==0.115.8
uvicorn==0.34.0
python-dotenv==1.0.1
python-json-logger==3.2.1
psutil==6.1.1
aiohttp==3.11.12
colorlog==6.9.0
python-jose[cryptography]==3.4.0
python-multipart==0.0.20
slowapi==0.1.9
cachetools==5.5.2
bcrypt==4.2.1
